<footer class="clearfix">
    <div class="social-icons">
        <ul class="social row">
            <li class="social-icon span4">
                <a href="https://github.com/BeerAndCode/beerandcodeomaha">
                    <div class="icon icon-github"></div>
                    <div class="text">
                        BeerAndCode/beerandcodeomaha
                    </div>
                </a>
            </li>
            <li class="social-icon span4">
                <a href="https://twitter.com/beercodeomaha">
                    <div class="icon icon-twitter"></div>
                    <div class="text">
                        @BeerCodeOmaha
                    </div>
                </a>
            </li>
            <li class="social-icon span4">
                <a href="irc://irc.freenode.net:6667/omahamaker">
                    <div class="icon">#</div>
                    <div class="text">
                        irc.freenode.net #omaha.dev
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <div class="center copyright">
        <p>Beer && Code | Omaha</p>
    </div>
</footer>
